
</div>
<div class="footer-padding"></div>
  <div class="plus">
    <form action="/" method="POST">
      <button type="submit" class ="btn btn-success b1">+</button>
    </form>
  </div>
  <div class="footer">
    <p>Daily Saehoon</p>
  </div>
</div>
</body>
</html>
