body{
    font-family: "Montserrat-Black";
}


#title{
    background-color: #ff4c68;
} 

 h1 {
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
    color : white;
    margin-bottom: 35px;
}

h2{
    font-family: "Monserrat";
    font-size: 3rem;
    line-height: 1,5;
}

button{
    margin: 0 18px 0 0;
}

.container-fluid {
    padding: 3% 15%;
}

.title-image{
    width: 70%
}

.navbar-brand {
    font-size: 50px;
    font-family: "Ubuntu";
    font-weight: bold;
}

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: "Ubuntu";
    font-size: 1.5rem;
}

.rotate-45{
    transform: rotate(25deg);
    padding-top: 10%;
    margin-left: 10%;
}

.center{
    text-align: center;
    margin: 20px 0;
    line-height: 26px;
}

h3{
    margin: 10px 0;
}

.hover{
    color: #ef8172;
    transition: color .5s;
}

.hover:hover{
    color: #ff4c68;
}

/* testimonital */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}